---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spacex">
  <section class="flex items-center justify-between">
    <div class="max-w-2xl p-8 rounded shadow-md">
      <h2 class="text-3xl font-bold mb-6">Introducción: Un Vistazo a Astro</h2>
      <p>
        En el fascinante mundo de la programación, exploramos constantemente
        nuevas herramientas y tecnologías que buscan simplificar y mejorar el
        desarrollo de aplicaciones. En este contexto, nos encontramos inmersos
        en un proyecto de prueba que nos lleva a descubrir las posibilidades de
        Astro, una herramienta innovadora en el ámbito del desarrollo web.
      </p>
    </div>
    <div class="max-w-2xl p-8 rounded shadow-md">
      <h2 class="text-3xl font-bold mb-6">
        ¿Qué es Astro y por qué lo estamos explorando?
      </h2>
      <p>
        Astro es un marco de trabajo moderno que busca revolucionar la forma en
        que construimos aplicaciones web. Es conocido por su enfoque en el
        rendimiento y su capacidad para generar sitios estáticos o dinámicos,
        según las necesidades del proyecto. En esta fase inicial, nuestro
        proyecto se centra en la evaluación de Astro como una alternativa
        potencial para optimizar el flujo de trabajo de desarrollo.
      </p>
    </div>
  </section>
  <section class="flex items-center justify-between">
    <div class="max-w-2xl p-8 rounded shadow-md">
      <h2 class="text-3xl font-bold mb-6">El Propósito de Esta Prueba</h2>
      <p>
        Es crucial destacar que este proyecto se presenta como una prueba
        exploratoria. Nuestro objetivo principal es comprender las capacidades,
        limitaciones y ventajas que Astro puede ofrecer en el desarrollo de
        aplicaciones. No estamos comprometidos con la implementación completa en
        este momento, sino que estamos dedicados a entender a fondo cómo Astro
        se integra con nuestras necesidades específicas.
      </p>
    </div>
    <div class="max-w-2xl p-8 rounded shadow-md">
      <h2 class="text-3xl font-bold mb-6">El Viaje de la Exploración</h2>
      <p>
        A medida que nos sumergimos en esta travesía, examinaremos las
        características clave de Astro, experimentaremos con su sintaxis
        elegante y analizaremos cómo se adapta a nuestro flujo de trabajo
        existente. A lo largo de este documento, compartiremos nuestras
        observaciones, desafíos encontrados y cualquier ajuste necesario para
        hacer frente a las demandas de nuestro proyecto.
      </p>
    </div>
  </section>
</Layout>
